/ClassRoster/nbproject/private/
/ClassRoster/build/
/TestWorld/nbproject/private/
/TestWorld/build/
/Week2/nbproject/private/
/Week2/build/
/StateCapitals2/nbproject/private/
/StateCapitals2/build/
/DvdLibrary/nbproject/private/
/DvdLibrary/build/
/DvdLibrary/dist/
/Week 3/nbproject/private/
/Week 3/build/
/StatelessUnitTesting/nbproject/
/StatelessUnitTesting/target/
/Week 3/dist/
/VendingMachine/nbproject/private/
/VendingMachine/build/
/VendingMachine/dist/
/BookTracker/target/
/jacvaAnt/nbproject/private/
/VendingMachine_v2/target/
/VendingMachine_v2/nbproject/